<!DOCTYPE html>
<html lang="en">

<head>
    {% include "bootstrap.html" %}
    <title>
        {{company_name}} Careers
    </title>
</head>

<body>
    {% include 'nav.html' %}

    <div class="container mb-48">
        <h1 class="text-center mt-2 mb-4">
            {{company_name}} Careers
        </h1>
        {% include "banner.html" %}
        <h2 class="text-center mt-2 mb-4">About Jovian</h2>
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img class="img-fluid rounded" id="people-img" src="static/people.avif" height="320">
            </div>

        </div>
        <h2 class="text-center mt-2 mb-4">Open Position</h2>
        <div>
            {% for job in jobs%}
            {% include 'job_item.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="mailto:lam.dt26042000@gmail.com?subject=Question%20about%20job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20your%20question%3E"
                class="btn btn-primary btn-lg">Contact Us</a>
            <p class="mt-2 mb-4">Copyright 2023, Jovian</p>
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>